{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign is_size = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
    {% if downcased_option contains 'size' %}
      {% assign is_size = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}

  {% unless is_color %}
  <div class="swatch clearfix {{ swatch | handleize }}" data-option-index="{{ option_index }}">
    <div class="swatch-header">{{ swatch }} {% if is_size %}<a href="https://www.beltology.com/pages/sizing-guide-1">(Size Chart)</a> {% endif %}</div>
    {% assign values = '' %}
    {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %} 
        {% assign values = values | split: ',' %}
        <div data-value="{{ value | escape }}" class="swatch-element {{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
          <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
          {% if is_size %}
          <label for="swatch-{{ option_index }}-{{ value | handle }}">
            {{ value | slice: 0,2 }}
            <img class="crossed-out" alt="Sold Out" src="{{ 'soldout.png' | asset_url }}" />
          </label>
          {% else %}
          <label for="swatch-{{ option_index }}-{{ value | handle }}">
            {{ value }}
            <img class="crossed-out" alt="Sold Out" src="{{ 'soldout.png' | asset_url }}" />
          </label>
          {% endif %}
        </div>
      {% endunless %}
      {% if variant.available %}
      <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
      </script>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}

  {% capture handle %}{{ product.title | handleize }}{% endcapture %}

    {% if collections[handle].products.size != 0 %}
    <div class="swatch clearfix {{ swatch | handleize}}" data-option-index="{{ option_index }}">
      <div class="swatch-header">{{ swatch }}</div>
      
      {% for variant in product.variants %}
      {% assign value = variant.options[option_index] %}
      {% endfor %}
      <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" checked />
      
      {% assign values = '' %}
      {% for collection in product.collections %}
      {% if handle == collection.handle %}
          {% for product in collections[handle].products %}
      
            {% for option in product.options %}
              {% if option == swatch %}
                {% assign option_index = forloop.index0 %}    
              {% endif %}
            {% endfor %}

            {% for variant in product.variants %}
              {% assign value = variant.options[option_index] %}
              {% unless values contains value %}
                {% assign values = values | join: ',' %}
                {% assign values = values | append: ',' | append: value %} 
                {% assign values = values | split: ',' %}
                <div data-value="{{ value | escape }}" class="swatch-element color {{ value | handle }}">
                  <a href="{{ variant.url }}" style="background-image: url({{ 'swatch-' | append:value | handle | append: '-' | append: handle | append: '.' | append: file_extension | asset_url }})"><span>{{ value }}</span></a>
                </div>
              {% endunless %}
            {% endfor %}

          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  {% endunless %}

{% endunless %}

{% endif %}