<div id="fullpage">
  {% if section.settings.enable_mainImg %}
  <div class="section main_imgSection">
    <div class="main_imgWrapper" style="background-image:url({{ section.settings.image | img_url: '2048x' }})">
      <div class="main_caption">
        {% if section.settings.main_heading != blank %}<h1>{{ section.settings.main_heading }}</h1>{% endif %}
        {% if section.settings.main_img_content != blank %}<p>{{ section.settings.main_img_content }}</p>{% endif %}
      </div>
      <div class="btn_actoins">
        {% if section.settings.btn_text != blank and section.settings.btn_text != blank %}<a href="{{ section.settings.link_main }}" class="btn-shopNow">{{ section.settings.btn_text }}</a>{% endif %}
        {% if section.settings.btn_text != blank and section.settings.btn_text_1 != blank %}<a href="{{ section.settings.link_main_1 }}" class="btn-shopNow">{{ section.settings.btn_text_1 }}</a>{% endif %}
        {% if section.settings.btn_text != blank and section.settings.btn_text_2 != blank %}<a href="{{ section.settings.link_main_2 }}" class="btn-shopNow">{{ section.settings.btn_text_2 }}</a>{% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  
  {% if section.settings.enable_section_2 %}
  <div class="section sectionDiv2">
    <div class="flex_wrapEle">
      <div class="span6">
        <div class="caption">
          {% if section.settings.heading_section_2 != blank %}<h2>{{ section.settings.heading_section_2 }}</h2>{% endif %}
          {% if section.settings.content_sectoin_2 != blank %}<p>{{ section.settings.content_sectoin_2 }}</p>{% endif %}
          
          {% if section.settings.btn_text_section_2 != blank %}<a href="{{ section.settings.link_section_2 }}" class="btn-shopNow">{{ section.settings.btn_text_section_2 }}</a>{% endif %}
        </div>
      </div>
      <div class="span6">
        <div class="section_2" style="background-image:url({{ section.settings.image_section_2 | img_url: '2048x' }})"></div>
      </div>
    </div>
  </div>
  {% endif %}
  
  
  {% if section.settings.enable_section_3 %}
  <div class="section sectionDiv3">
    <div class="flex_wrapEle">
      <div class="span6">
        <div class="section_3">
        	<img src="{{ section.settings.image_section_3 | img_url: '2048x' }}" class="img-responsive" alt="" />
          	{% if section.settings.heading_section_3 != blank %}<h4>{{ section.settings.heading_section_3 }}</h4>{% endif %}
        </div>
      </div>
      <div class="span6">
        <div class="caption">
          <img src="{{ section.settings.image_section_31 | img_url: '2048x' }}" class="img-responsive" alt="" />
          {% if section.settings.btn_text_section_3 != blank %}<a href="{{ section.settings.link_section_3 }}" class="btn-shopNow">{{ section.settings.btn_text_section_3 }}</a>{% endif %}
        </div>
      </div>
      
    </div>
  </div>
  {% endif %}
  

  
  {% if section.settings.enable_section_4 %}
  <div class="section sectionDiv4">
    <div class="flex_wrapEle">
      <div class="col-span7">
        <div class="section_3">
        	<img src="{{ section.settings.image_section_4 | img_url: '2048x' }}" class="img-responsive" alt="" />
        </div>
      </div>
      <div class="col-span5">
        <div class="caption">
          {% if section.settings.heading_section_4 != blank %}<h4>{{ section.settings.heading_section_4 }}</h4>{% endif %}
        </div>
      </div>
      
    </div>
  </div>
  {% endif %}
  
  {% if section.settings.enable_section_5 %}
  <div class="section sectionDiv5">
    <div class="flex_wrapEle">
      <div class="span6">
        <div class="section_3" style="background-image:url({{ section.settings.image_section_5 | img_url: '2048x' }})">
          	{% if section.settings.heading_section_5 != blank %}<h4>{{ section.settings.heading_section_5 }}</h4>{% endif %}
        </div>
      </div>
      <div class="span6">
        <div class="caption">
          <img src="{{ section.settings.image_section_51 | img_url: '2048x' }}" class="img-responsive" alt="" />
          {% if section.settings.btn_text_section_5 != blank %}<a href="{{ section.settings.link_section_5 }}" class="btn-shopNow">{{ section.settings.btn_text_section_5 }}</a>{% endif %}
        </div>
      </div>
      
    </div>
  </div>
  {% endif %}
  
  {% if section.settings.enable_section_6 %}
  <div class="section sectionDiv6">
    <div class="flex_wrapEle">
      {% for i in (1..3) %}
      {% capture productlink %}product_{{i}}{% endcapture %}       
      {% assign product = all_products[section.settings[productlink]] %}
      <div class="span4">
        <div class="productBox">
          <div class="product_img">
            <img src="{{product.featured_image | img_url: '700x' }}" alt="{{product.title}}"/>
          </div>
          <a href="{{product.url | within: collection }}" class="btn-shopNow">Shop</a>      
        </div>
        </div>
      {% endfor %}
      
      <footer class="section">
        <ul class="menu">
          {% for link in linklists['landing-footer'].links %}
          <li><a href="{{ link.url }}" title="{{ link.title }}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="footer_social">
          {% if settings.social_insta_link != blank %}
          <li>
            <a href="{{ settings.social_insta_link }}" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}

          <li>
            <a href="https://www.facebook.com/Beltology/" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          {% if settings.social_mail_link != blank %}
          <li>
            <a href="mailto:{{ settings.social_mail_link }}" target="_blank">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
          <li>
            <a href="{{ settings.social_twitter_link }}" target="_blank">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}

        </ul>
      </footer>
      
    </div>
  </div>
  {% endif %}
  
  
</div>
  
<style>
  .sectionDiv4:after{
    background-image:url({{ section.settings.image_section_41 | img_url: '2048x' }});
  }
</style>
{% schema %}
  {
    "name": "Landing Page",
    "settings": [
        {
            "type": "header",
            "content": "Main Image"
        },
		{
            "type": "checkbox",
            "id": "enable_mainImg",
            "label": "Enable?"
        },
		{
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
		{
            "type": "text",
            "id": "main_heading",
            "label": "Heading"
        },
		{
            "type": "textarea",
            "id": "main_img_content",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text"
        },
		{
            "type": "text",
            "id": "link_main",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "btn_text_1",
            "label": "Button text"
        },
		{
            "type": "text",
            "id": "link_main_1",
            "label": "Link"
        },
        {
            "type": "text",
            "id": "btn_text_2",
            "label": "Button text"
        },
		{
            "type": "text",
            "id": "link_main_2",
            "label": "Link"
        },
		{
            "type": "header",
            "content": "Section 2"
        },
		{
            "type": "checkbox",
            "id": "enable_section_2",
            "label": "Enable?"
        },
		{
            "type": "image_picker",
            "id": "image_section_2",
            "label": "Image"
        },
		{
            "type": "text",
            "id": "heading_section_2",
            "label": "Heading"
        },
		{
            "type": "textarea",
            "id": "content_sectoin_2",
            "label": "Content"
        },
        {
            "type": "text",
            "id": "btn_text_section_2",
            "label": "Button text"
        },
		{
            "type": "text",
            "id": "link_section_2",
            "label": "Link"
        },
		{
            "type": "header",
            "content": "Section 3"
        },
		{
            "type": "checkbox",
            "id": "enable_section_3",
            "label": "Enable?"
        },
		{
            "type": "paragraph",
            "content": "Left part"
      	},
		{
            "type": "image_picker",
            "id": "image_section_3",
            "label": "Image"
        },
		{
            "type": "text",
            "id": "heading_section_3",
            "label": "Heading"
        },
		{
            "type": "paragraph",
            "content": "Right part"
      	},
		{
            "type": "image_picker",
            "id": "image_section_31",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "btn_text_section_3",
            "label": "Button text"
        },
		{
            "type": "text",
            "id": "link_section_3",
            "label": "Link"
        },
		{
            "type": "header",
            "content": "Section 4"
        },
		{
            "type": "checkbox",
            "id": "enable_section_4",
            "label": "Enable?"
        },
		{
            "type": "paragraph",
            "content": "Left part"
      	},
		{
            "type": "image_picker",
            "id": "image_section_4",
            "label": "Image"
        },
		{
            "type": "paragraph",
            "content": "Right part"
      	},
		{
            "type": "image_picker",
            "id": "image_section_41",
            "label": "Image"
        },
		{
            "type": "text",
            "id": "heading_section_4",
            "label": "Heading"
        },
		{
            "type": "header",
            "content": "Section 5"
        },
		{
            "type": "checkbox",
            "id": "enable_section_5",
            "label": "Enable?"
        },
		{
            "type": "paragraph",
            "content": "Left part"
      	},
		{
            "type": "image_picker",
            "id": "image_section_5",
            "label": "Image"
        },
		{
            "type": "text",
            "id": "heading_section_5",
            "label": "Heading"
        },
		{
            "type": "paragraph",
            "content": "Right part"
      	},
		{
            "type": "image_picker",
            "id": "image_section_51",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "btn_text_section_5",
            "label": "Button text"
        },
		{
            "type": "text",
            "id": "link_section_5",
            "label": "Link"
        },
		{
            "type": "header",
            "content": "Section 6"
        },
		{
            "type": "checkbox",
            "id": "enable_section_6",
            "label": "Enable?"
        },
		{
            "type": "product",
            "id": "product_1",
            "label": "Choose Product"
		},
		{
            "type": "product",
            "id": "product_2",
            "label": "Choose Product"
		},
		{
            "type": "product",
            "id": "product_3",
            "label": "Choose Product"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
