<div class="container">
  <div class="section clearfix"> 
    <div class="tabs-container clearfix">
      <ul class="stylefinder-tabs clearfix">

        <li class="current">
          <a href="javascript:void(0);" data-href="#tab-1">
            <img src="{{  section.settings.tab_img_1 | img_url: '80x' | format: 'png' }}" class="img-responsive" alt="{{ section.settings.tab_title_1 }}"> 
            <span>{{ section.settings.tab_title_1 }}</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" data-href="#tab-2">
            <img src="{{  section.settings.tab_img_2 | img_url: '80x' | format: 'png' }}" class="img-responsive" alt="{{ section.settings.tab_title_2 }}"> 
            <span>{{ section.settings.tab_title_2 }}</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" data-href="#tab-3">
            <img src="{{  section.settings.tab_img_3 | img_url: '80x' | format: 'png' }}" class="img-responsive" alt="{{ section.settings.tab_title_3 }}"> 
            <span>{{ section.settings.tab_title_3 }}</span>
          </a>
        </li>
      </ul>
      <div class="stylefinder-tab">
        <div id="tab-1" class="tab-content">
          <div class="{{ section.settings.tab_tag_1 }} mainTabContent">
            <ul></ul>
          </div>
        </div>

        <div id="tab-2" class="tab-content">
          <div class="{{ section.settings.tab_tag_2 }} mainTabContent">
            <ul></ul>
          </div>
        </div>
        <div id="tab-3" class="tab-content">
          <div class="{{ section.settings.tab_tag_3 }} mainTabContent">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

    $(".stylefinder-tabs a").click(function(event) {
      event.preventDefault();
      $(this).parent().addClass("current");
      $(this).parent().siblings().removeClass("current");
      var tab = $(this).attr("data-href");
      $(".tab-content").not(tab).css("display", "none");
      $(tab).fadeIn();
    });

    /*================Tab 1=================*/

    $.ajax({
      type: "GET",
      url: 'https://api.tumblr.com/v2/blog/{{ section.settings.tumblrUserName }}/posts',
      dataType: "jsonp",
      data: {
      {% unless section.settings.tumblerImgLimit == '' or section.settings.tumblerImgLimit == ' ' -%}
        limit : {{ section.settings.tumblerImgLimit }},
      {% endunless -%}
        tag: "{{ section.settings.tab_tag_1 }}",
        api_key: "{{ section.settings.tumblurApiKey }}"
      }
    }).done(function (data) {

      $.each(data.response.posts, function (index) {
		
        var _photos = this.photos;
        var _url = this.post_url;
        var _src = _photos[0]['alt_sizes'][2]['url'];
        $('.{{ section.settings.tab_tag_1 }} ul').append("<li><a href='"+_url+"'target='_blank'><img src='"+ _src +"' /></a></li>");
      });
    });

    /*================Tab 2=================*/
    $.ajax({
      type: "GET",
      url: 'https://api.tumblr.com/v2/blog/{{ section.settings.tumblrUserName }}/posts',
      dataType: "jsonp",
      data: {
        {% unless section.settings.tumblerImgLimit == '' or section.settings.tumblerImgLimit == ' ' -%}
          limit : {{ section.settings.tumblerImgLimit }},
        {% endunless -%}
        tag: "{{ section.settings.tab_tag_2 }}",
        api_key: "{{ section.settings.tumblurApiKey }}"
      }
    }).done(function (data) {

      $.each(data.response.posts, function (index) {

        var _photos = this.photos;
        var _url = this.post_url;
        var _src = _photos[0]['alt_sizes'][2]['url'];
        $('.{{ section.settings.tab_tag_2 }} ul').append("<li><a href='"+_url+"'target='_blank'><img src='"+ _src +"' /></a></li>");
      });
    });

    /*================Tab 3=================*/
    $.ajax({
      type: "GET",
      url: 'https://api.tumblr.com/v2/blog/{{ section.settings.tumblrUserName }}/posts',
      dataType: "jsonp",
      data: {
        {% unless section.settings.tumblerImgLimit == '' or section.settings.tumblerImgLimit == ' ' -%}
          limit : {{ section.settings.tumblerImgLimit }},
        {% endunless -%}
        tag: "{{ section.settings.tab_tag_3 }}",
        api_key: "{{ section.settings.tumblurApiKey }}"
      }
    }).done(function (data) {

      $.each(data.response.posts, function (index) {

        var _photos = this.photos;
        var _url = this.post_url;
        var _src = _photos[0]['alt_sizes'][2]['url'];
        $('.{{ section.settings.tab_tag_3 }} ul').append("<li><a href='"+_url+"'target='_blank'><img src='"+ _src +"' /></a></li>");
      });
    });
</script>


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "StyleFinder",
    "settings": [
      {
        "type": "text",
        "id": "tumblerImgLimit",
        "label": "Limit",
		"default": "8"
      },
	  {
        "type": "text",
        "id": "tumblrUserName",
        "label": "Tumblr Name",
		"default": "mybeltology"
      },
	  {
        "type": "text",
        "id": "tumblurApiKey",
        "label": "API Key",
		"default": "uBGc2bFzYDONzoJJagN1PvjyDS4fJxTsR2erOVre2bHqWa8VCA"
      },
	  {
        "type": "header",
        "content": "Tab 1"
      },
	  {
        "type": "image_picker",
        "id": "tab_img_1",
        "label": "Icon"
      },
	  {
        "type": "text",
        "id": "tab_title_1",
        "label": "Title"
      },
	  {
        "type": "text",
        "id": "tab_tag_1",
        "label": "Tag"
      },
	  {
        "type": "header",
        "content": "Tab 2"
      },
	  {
        "type": "image_picker",
        "id": "tab_img_2",
        "label": "Icon"
      },
	  {
        "type": "text",
        "id": "tab_title_2",
        "label": "Title"
      },
	  {
        "type": "text",
        "id": "tab_tag_2",
        "label": "Tag"
      },
	  {
        "type": "header",
        "content": "Tab 3"
      },
	  {
        "type": "image_picker",
        "id": "tab_img_3",
        "label": "Icon"
      },
	  {
        "type": "text",
        "id": "tab_title_3",
        "label": "Title"
      },
	  {
        "type": "text",
        "id": "tab_tag_3",
        "label": "Tag"
      }
    ]
  }
{% endschema %}
