{% paginate blog.articles by 10 %}
  {% assign tag_count = blog.all_tags | size %}
  {% assign tag_threshold = 8 %}

<div class="hero just-caption">
<div class="hero-caption">
<div class="container">
<h3 class="headline">The Belt Journal.</h3>
<div class="subtitle">
<p>The belt that stretches and requires no holes, allowing for a more comfortable&nbsp;and adjustable fit.</p>
</div>
</div>
</div>
</div>

<div class="container">

<div class="section clearfix">
    
    {% if settings.blog_tags %}
      {% if tag_count < tag_threshold %}
        <ul class="collection_menu">
         <li>
           <a href="{{ blog.url }}">{% if current_tags %}All{% else %}<span class="active">View All</span>{% endif %}</a>
          </li>
          {% for tag in blog.all_tags %}
            <li>
              {{ tag | highlight_active_tag | link_to_tag: tag }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
    
    {% if settings.blog_tags %}
      <select name="tag_filter" id="tag_filter" {% if tag_count >= tag_threshold %}style="display:block"{% endif %}>
        <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">View All</option>
        {% for tag in blog.all_tags %}
          <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
        {% endfor %}
      </select>
    {% endif %}
  </div>

  
 {% for article in blog.articles %}
    
   {% if forloop.first %}

  <div class="sixteen columns article">

     <div class="tsixteen columns alpha blog_content feature-heading">
        <h2 class="feature-heading"><a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a></h2>
          
        {% if article.excerpt != blank %}
          {{ article.excerpt }}
       <span> {{ article.published_at | date: "%d %b'%y" }} </span> | <strong><a href="{{ article.url }}" style="color: #b33649;" title="{{ article.title | escape }} ">read full post &rarr;</a> </strong>         
        {% else %}
          {{ article.content }} 
        {% endif %}        
      </div>
    </div>
  	<hr />
   {% else %}
   	
  	<div class="six columns article">
      <div class="five columns alpha omega blog_meta">
        <!-- <h6>
          {{ article.published_at | date: "%B %d, %Y" }}
        </h6> -->

        {% if article.comments_enabled? %}
          <p>
            <a href="{{ article.url }}#comments" class="title" title="{{ article.title | escape }} Comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'Comment', 'Comments' }}</a>
          </p>
        {% endif %}

        {% if settings.blog_tags %}
          <p class="meta">
            {% for tag in article.tags %}
              <a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} tagged {{ tag | escape }}" class="tag">{{ tag }} &rsaquo;</a>
            {% endfor %}
          </p>
        {% endif %}

        <hr />

      </div>

     <div class="ten columns alpha blog_content">
        <h2><a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a></h2>
          
        {% if article.excerpt != blank %}
          {{ article.excerpt }}
       <span> {{ article.published_at | date: "%d %b'%y" }} </span> | <strong><a href="{{ article.url }}" style="color: #b33649;" title="{{ article.title | escape }} ">read full post &rarr;</a> </strong>         
        {% else %}
          {{ article.content }} 
        {% endif %}        
      </div>
    </div>
  {% endif %}
  {% endfor %}
  
  <div class="sixteen columns">
    {% include 'pagination' %} 

  </div>   
  
{% endpaginate %}
  
</div>   