<div class="container">
<div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title">cart</h1>

    {% if cart.item_count > 0 %}
      <div class="continue_shopping">
        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.first.url }}{% else %}/collections/all{% endif %}">Continue Shopping &rarr;</a>
      </div>
    {% endif %}
  </div>

  {% if cart.item_count == 0 %}
    <div class="row">
      <p class="align-center">There are no items in your cart. <a href="/collections/all-belts">Continue Shopping &rarr;</a></p>    
    </div>
  {% else %}

  <form action="/cart" method="post" id="cart_form">        
    <div class="section clearfix">  
      <div class="span8 cart_items">

        {% for item in cart.items %}
          <div class="span6">
            <a class="cart_page_image" href="{{ item.product.url }}" title="{{ item.product.title | escape }}">
             {% assign found = false %}
             {% for img in item.product.images %}
               {% if found == false and item.variant.title contains img.alt %}
                 <img src="{{ img | product_img_url: 'medium' }}" srcset="{{ img | product_img_url: '240x240' }} 2x"  alt="{{ item.product.title | escape }}" />
                 {% assign found = true %}
                {% endif %}
             {% endfor %}
             {% if found == false %}
               <img src="{{ item.product.featured_image | product_img_url: 'medium' }}" srcset="{{ item.product.featured_image | product_img_url: '240x240' }} 2x" alt="{{ item.product.title | escape }}" />
             {% endif %}           
            </a>
          </div>

          <div class="span6">
            <p>
              <a href="{{item.product.url }}" title="{{ item.title | escape }}">{{ item.title }}</a>
            </p> 
            
            {% if item.properties %}
              <p>
              {% for p in item.properties %}
                {% unless p.last == blank %}
                  {% if p.last contains '/uploads/' %}
                    {{ p.first }}: <a class="lightbox" href="{{ p.last }}">uploaded file</a><br />
                  {% else %}
                    {{ p.first }}: {{ p.last }}<br />
                  {% endif %}
                {% endunless %}
              {% endfor %}
              </p>
            {% endif %}

            <p class="price_total">
              {{ item.price | money_with_currency }}
            </p>

            <p id="quantity_{{ forloop.index }}">
              <label for="updates_{{ item.id }}" class="quantity_label">Quantity:</label>
              <input type="number" min="0" size="2" maxlength="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
            </p>

            <p class="remove_item">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" title="Remove Item">Remove</a>
            </p>
          </div>
          <br class="clear" />
          <br class="clear" />
        {% endfor %}
      </div>

      <div class="span4 right">
        <h4 class="subtotal">
          Subtotal
        </h4>

        <p class="subtotal_amount">
          <strong>{{ cart.total_price | money_with_currency }}</strong> 
          <small id="estimated-shipping" style="display:none">+ <em>{{ 0 | money }} estimated shipping</em></small>

          {% unless settings.tax_included %}
            <small class="excluding_tax"><em>Excluding tax &amp; shipping</em></small>
          {% endunless %}
        </p>

        {% if settings.show_multiple_currencies %}
          <p>
            <small>
              Orders will be processed in {{ shop.currency }}.
            </small>
          </p>
        {% endif %}

        {% if settings.display_special_instructions %} 
          <label for="note">Note to {{ shop.name }}:</label>
          <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>        
        {% endif %}

        <p>
          <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="CHECKOUT" />
        </p>
        
        {% if settings.display_additional_checkout and additional_checkout_buttons %}
          <p class="center">
            {{ content_for_additional_checkout_buttons | google_button_options: 'transparent' }}
          </p>
        {% endif %}
        
         <div class="dummy_amazon">
        	<img src="{{ 'PwA.png' | asset_url }}">
        </div>
        
        
        
      </div>
    </div>
  </form>
  
  {% include 'cart-shipping-calculator' %}

{% endif %}
</div>

<script type="text/javascript">
   $('.dummy_amazon img').click(function(){
  		$('.amazon-payments-pay-button img').trigger('click');  
  });  
  
var google_tag_params = {
ecomm_prodid: [{% for item in cart.items %}'shopify_US_{{item.product.id}}_{{item.product.variants.first.id}}',{% endfor %}],
ecomm_pagetype: 'cart',
ecomm_totalvalue: [{% for item in cart.items %}'{{ item.line_price | money_without_currency }}',{% endfor %}]};
</script>

<style>
  .additional-checkout-button--paypal{
    width: 52%;
    display: block;
    margin: 0 auto 20px auto;
  }
  .additional-checkout-button--google-pay{
    width: 52% !important;
    display: block !important;
    margin: 0 auto;
    margin-left: auto !important;
    text-align: center !important;
  }
  .dummy_amazon img {
    margin-left:0; 
  }
  .dummy_amazon{
        width: 52%;
    margin-top: 19px;
  }
  
  @media screen and (max-width: 549px) {
    .additional-checkout-button--paypal{
      width: 52%;
      display: block;
      margin: 0 auto 20px auto;
      margin-left: auto !important;
    }
    .additional-checkout-button--google-pay{
      width: 52% !important;
      display: block !important;
      margin: 0 auto;
      margin-left: auto !important;
      text-align: center !important;
    }
    .dummy_amazon img {
     	margin-left:0; 
    }
    .dummy_amazon{
      margin-top: 19px;
    }
  }
</style>
